<% @parties.each do |party| %>
  <h3><%= party.name %> <%= party.created_at %></h3>
  <%= link_to "Edit Party", "/parties/#{party.id}/edit" %>
<% end %>
</br>
</br>
<%= link_to 'New Party', '/parties/new' %>